%h5.result-entry-heading= organization
%ul
  %li= "Contribution History: " + link_to("OpenSecrets.org", "http://www.opensecrets.org/usearch/searchresults.php?searchTerm=#{organization}&type=O")
  %li= "Background Info: " + link_to("Wikipedia", "http://en.wikipedia.org/wiki/#{organization}")
  %li= "In The News: " + link_to("Google News", "http://news.google.com/news?q=#{organization}")