#result-message
  %h4 Make your own connections. View the summaries below...

- if @results[:elected_officials].size > 0
  #electeds
    %h2.result-heading Members of Congress

    - @results[:elected_officials].each_index do |i|
      - elected_official = @results[:elected_officials][i]
      - if (i == 0) || ((i % 5) == 0)
        .result-entry-alpha
          = render :partial => 'elected_official', :object => elected_official
      - elsif i % 5 == 4
        .result-entry-omega
          = render :partial => 'elected_official', :object => elected_official
      - else
        .result-entry
          = render :partial => 'elected_official', :object => elected_official


- if @results[:lobbyists].size > 0
  #lobbyists
    %h2.result-heading Lobbyists

    - @results[:lobbyists].each_index do |i|
      - lobbyist = @results[:lobbyists][i]
      - if (i == 0) || ((i % 5) == 0)
        .result-entry-alpha
          = render :partial => 'lobbyist', :object => lobbyist
      - elsif i % 5 == 4
        .result-entry-omega
          = render :partial => 'lobbyist', :object => lobbyist
      - else
        .result-entry
          = render :partial => 'lobbyist', :object => lobbyist


- if @results[:companies].size > 0
  #companies
    %h2.result-heading Companies

    - @results[:companies].each_index do |i|
      - company = @results[:companies][i]
      - if (i == 0) || ((i % 5) == 0)
        .result-entry-alpha
          = render :partial => 'company', :object => company
      - elsif i % 5 == 4
        .result-entry-omega
          = render :partial => 'company', :object => company
      - else
        .result-entry
          = render :partial => 'company', :object => company


- if @results[:organizations].size > 0
  #organizations
    %h2.result-heading Organizations
  
    - @results[:organizations].each_index do |i|
      - organization = @results[:organizations][i]
      - if (i == 0) || ((i % 5) == 0)
        .result-entry-alpha
          = render :partial => 'organization', :object => organization
      - elsif i % 5 == 4
        .result-entry-omega
          = render :partial => 'organization', :object => organization
      - else
        .result-entry
          = render :partial => 'organization', :object => organization  

#result-message
  %h4 For reference, here's the original text...
  
#text
  %h2.result-heading Source 
  .source-body
    - if @result.source_url.blank?
      = @result.source_body.gsub!(/\n/, '<br />')
    - else
      %p= link_to("Click here to view the original article...", @result.source_url)
      = @result.source_body
        
  